# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /git/startbootstrap-agency/site/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /git/startbootstrap-agency/site/index.php [L]
</IfModule>

# END WordPress